body
{
    background-color: #e8ecf1;
    color: white;
}

a
{
    color: blue;
}

#grandpy_title{
    padding-top: 40px;
    color: #19a6e1;
    text-align: center;
    font-weight: bold;
}

h1{
    font-weight: bold;
}

#cont{
    color: #19a6e1;
}

.box {
    background: #19a6e1;
    border-radius: 0.5rem;
    padding: 5px;
    color: #fff;
  }

#map{
    height: 100%;
    position: relative;
    margin-bottom: 20px;
    top: 0; bottom: 0; width: 100%;
}

#spin{
    visibility: hidden;
}

#code {
    color: #000;
}
