<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
rel="stylesheet">
        <link rel="stylesheet" href={{url_for('static', filename='css/styles.css')}} />
        <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
        <title>Grandpy bot</title>
    </head>
    <body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-2"><img src={{url_for('static', filename='img/agecanonix.png')}} /></div>
                <div id="grandpy_title" class="col-lg-10"><h1> Grandpy Bot </h1></div>
            </div>
        </div>
    </header>
        <div class="container">
            <div class="row">
                <div class="offset-lg-2 col-lg-10">
                    <h1>La papy traveler qui raconte sa vie</h1>
                </div>
            </div>
            <div class="row">
                <div class="offset-lg-4 col-lg-5">
                    <form id='formi'>
                        <p>
                            <label label for="question"></label>
                            <input type="test" id="question" class="forms" name="Question" placeholder="Pose ta question ici">
                            <input type="submit" value="Envoyer">
                            <!-- <div id="spin" class="spinner-border"></div> -->
                        </p>
                    </form>
                </div>
                <div class="col-lg-1 col-lg-push-2">
                    <div id="spin" class="spinner-border"></div>
                    <!-- <div id="spin" style="display:none;"></div> -->
                </div>
            </div>
            <!-- Begin Javascript insert -->
            <div id='papybot'></div>
            <div id='mapbot'></div>
            <div id='wikibot'></div>
            <!-- End Javascript insert -->
            <!-- <div id='map' class="offset-lg-2 col-lg-10" style='width: 400px; height: 300px;'></div> -->
                <script>
                    mapboxgl.accessToken = "{{MAPBOX_KEY}}";
                    // var map = new mapboxgl.Map({
                    //     container: 'map',
                    //     center: [2.3505517, 48.8747265],
                    //     style: 'mapbox://styles/mapbox/streets-v11',
                    //     zoom: 15,
                    // });
                </script>
        </div>
        <footer class="container-fluid">
            <p> Olivier. Le code est situé ici: <a href="https://github.com/oliviernes/oc_P7"> Github</a></p>
        </footer>
        <script type="text/javascript" src={{url_for('static', filename='js/ajax.js')}}></script>
    </body>
</html>
